*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #f8f8ee;
}

#top{
	background: #08554f;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	box-shadow: 0px 3px 8px #888888;
}

#account-bar{
	width: 1002px;
	margin:0 auto;
}

#account-bar-left{
	float: left;
}

#account-bar-right{
	float: right;
}

#account-bar-clear{
	clear: both;
}

#cs{
	border-left:1px solid #203f3d;
	border-right:1px solid #203f3d;
	padding:7px 22px;
}

#hi-user,#hi-account,#hi-logout, #hi-login{
	display: inline-block;
	border-right: 1px solid #203f3d;
	padding:7px 22px;
}

#hi-user{
	color:#bfcccc;
}

#hi-account{
	background: url('../img/myaccount.png') no-repeat 5px center;
}

#hi-logout, #hi-login{
	background: url('../img/key.png') no-repeat 5px center;
}

#hi-login{
	border-left: 1px solid #203f3d;
}

#top a{
	text-decoration: none;
	color: white;
}

#header{
	width: 1002px;
	margin:12px auto;
	position: relative;
}

#header #logo, #header #search, #header #cart {
    vertical-align:middle;
}

#logo,#search,#cart{
	display: inline-block;
}

/*#logo{
	background: url('../img/logo.png') no-repeat left center;
	height: 51px;
	width: 250px;
}*/

#search fieldset{
	border-radius: 5px;
	border:1px solid #cccccc;
}

#fieldset-outer{
	padding:10px;
	background: url('../img/stripe-bg.png') repeat;
}

#fieldset-inner{
	background: white;
	padding: 5px;
	box-shadow: inset 2px 2px 2px 0px #dddddd;
}

#search input[type=text]{
	border: none;
	width: 270px;
	height: 25px;
	font-size: 15px;
	padding-left: 10px;
	font-family: georgia;
	color:#a1934d;
	font-style: italic;
}

#search input[type=text]:focus{
	outline: 0;
}

#search input[type=submit]{
	color:white;
	border-radius: 3px;
	border: none;
	background: #a1934d;
	padding: 6px 10px;
	font-family: verdana;
}

#cart{
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	background: url('../img/cart.png') no-repeat left center;
	padding-left: 40px;
	height: 34px;
	margin-left: 70px;
	padding-top: 10px;
	color:#a1934d;
	text-decoration: none;
}

#cart > *{
	display: block;
}

#ym{
	position: absolute;
	right: 7px;
	/*margin-top: 25px;
	margin-left: 6px;*/
}

#ym img{
	margin-left: 10px;
}

#top-menu{
	margin-top: 23px;
	background: green;
}

#top-menu ul{
	background: #D0272F;
	width: 100%;
	height: 40px;
	position: relative;
}

#top-menu ul li{
	list-style-type: none;
	float: left;
	/*margin-left: 20px;*/
	/*margin-right: 20px;*/
	padding-top: 8px;
	padding-bottom: 7px;
	padding-right: 35px;
	padding-left: 35px;
	font-family: 'Titillium Web', sans-serif;
	text-shadow: 0px 1px 1px #333;

	border-right: 1px solid #C50B14;

	/*background: black;*/
}

#top-menu ul li:hover{
	cursor: pointer;
}

#top-menu ul li a.nav{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 13px;
}

#top-menu ul li a.nav:hover{
	color: #94c725;
}

.big-menu-one{
	background: #ffffff;
	position: absolute;
	top:40px;
	left: 0px;
	width: 982px;
	padding: 20px 10px;
	display: none;
	box-shadow: 0 0 3px #B9B9B9;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-shadow:none;
	z-index: 1000;
}

#top-menu ul li:hover .big-menu-one,#top-menu ul li:hover .big-menu-two{
	display: block;
	cursor: default;
	position: absolute;
}

#top-menu ul li:hover .bottom-arrow{
	border-color: #94c725 transparent transparent transparent;
}

#top-menu ul li:hover a.nav{
	color: #94c725;
}

.bottom-arrow{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 4.5px 0 4.5px;
	border-color: #ffffff transparent transparent transparent;
	margin-left: 5px;
}

#top-menu ul li a.nav, #top-menu ul li .bottom-arrow{
	display: inline-block;
	vertical-align: middle;
}

.big-menu-one > div{
	display: inline-block;
	margin-right: 30px;
	vertical-align: top;
}

.big-menu-one h3{
	color: #d0272f;
	font-size: 14px;
}

.big-menu-one a, .big-menu-two a{
	text-decoration: none;
	display: list-item;
	font-size: 13px;
	color: black;
	padding: 3px 3px 3px 10px;
	background: url('../img/arrow_menu.png') no-repeat left center;
}

.big-menu-two a{
	margin-left: 10px;
}

.big-menu-one a:hover, .big-menu-two a:hover{
	background: url('../img/arrow_menu_hover.png') no-repeat left center #efefef;
	color: #d0272f;
}

.big-menu-two-container{
	position: relative;
}

.big-menu-two{
	background: #ffffff;
	position: absolute;
	top:40px;
	left: 0px;
	width: 100%;
	padding: 20px 0px;
	display: none;
	box-shadow: 0 0 3px #B9B9B9;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-shadow:none;
	z-index: 1000;
}


#wrapper{
	margin: 0 auto;
	width: 960px;
}

/* Main content top page */

#top-content{
	font-family: 'Titillium Web', sans-serif;
}

#banner > div{
	display: inline-block;
	vertical-align: text-top;
}

#cat-nav{
	width: 165px;
}

.cat-nav{
	margin-bottom: 7px;
}

.cat-nav h3{
	color: #d0272f;
	font-size: 12px;
	margin-bottom: 5px;
}

.cat-nav a{
	text-decoration: none;
	display: list-item; /* reset back to vertically*/
	list-style-type: none;
	font-size: 11px;
	color: black;
	margin-bottom: 5px;
}

.cat-nav a:hover{
	text-decoration: underline;
}

#slide{
	width: 575px;
	position: relative;
}

#slide img{
	height: 380px;
}

#flag{
	margin-left: 15px;
}

#flag img{
	display: block;
	margin-bottom: 12px;
}

#block{
	background: #D0272F;
	color: white;
	padding: 0px 45px;
	font-size: 30px;
}

#potrait-wrapper{
	padding: 15px;
}

#potrait-wrapper .potrait{
	display: inline-block;
	margin-right: 21px;
}

.potrait img{
	background: url('../img/stripe-bg.png') repeat;
	padding: 10px;
	border-radius:10px;
	border:1px solid #cccccc;
}

#feature{
	background: url('../img/stripe-bg.png') repeat;
	border-radius: 10px;
	border: 1px solid #cccccc;
}

#corner-title{
	background: #a4b344;
	color: #ffffff;
	width: 150px;
	padding-left: 20px;
	margin-top: 10px;
}

#corner-title h3{
	font-size: 14px;
	font-style: italic;
}

#box-wrapper{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	background: #ffffff;
}

#box-wrapper div.box-feature{
	display: inline-block;
}

.box-feature{
	width: 110px;
	margin:0px 19px 30px;
	text-align: center;
}

.box-feature a{
	text-decoration: none;
}

.box-feature a:hover p.product-name{
	color: #08554F;
}

.box-feature p{
	font-size: 12px;
	display: auto;
	margin-bottom: 10px;
	padding: 0px;
	line-height: 5px;
}

.box-feature p.brand{
	color: #D0272F;
}

.box-feature p.product-name{
	color: #a4b344;
}

.box-feature p.price{
	color:#585a5d;
	font-weight: bold;
}
/* Main content top page */

/* Footer */

#footer{
	margin-top: 20px;
}

#red-one{
	background: #D0272F;
}

#red-one div, #red-two #footer-link-wrapper{
	width: 960px;
	margin: 0 auto;
	padding: 10px;
}

#red-one p{
	color: #ffffff;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

#red-two{
	background: #e88085;
}

.footer-link{
	font-family: 'Titillium Web', sans-serif;
	color: #ffffff;
	font-size: 12px;
	display: inline-block;
	margin-right: 50px;
	vertical-align: text-top;
}

.footer-link h3{
	margin-top: 15px;
}

.footer-link a{
	color: #ffffff;
	display: block;
}

#fb-icon,#twitter-icon{
	display: inline-block;
	vertical-align: text-top;
}

#fb-icon{
	background-image: url('../img/fb.png');
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	background-position: 0px 0px;
	margin-right: 10px;
}

#twitter-icon{
	background-image: url('../img/twitter.png');
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	background-position: 0px 0px;
}

a#fb-icon:hover, a#twitter-icon:hover{
	background-position: 0 -48px;
}

#copyright{
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	margin-top: 50px;
}

/* Footer */


/* Login Page */

#login-box,#register-box{
	background: #ffffff;
	border-radius: 5px;
	border: 1px solid #bfbfbf;
	display: inline-block;
	vertical-align: top;
	width: 450px;
}

#login-box form,#register-box form{
	margin: 30px;
	margin-top: 20px;
}

#login-box form input,#register-box form input{
	width: 200px;
}

/* Login Page */


/* Menu Mobile */

#menu-mobile{
	background: #D0272F;
	padding: 5px;
	display: none;
}

#slick{
	float: right;
	background: #a1934d;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

#menu-mobile ul{
	/*float: left;*/
	width: 100%;
	overflow: hidden;
	height: 0;
}

#menu-mobile ul li{
	font-family: 'Titillium Web', sans-serif;
	padding-left: 10px;
	list-style-type: none;

}

#menu-mobile ul li a{
	text-decoration: none;
	color: #ffffff;
	display: block;
	padding:3px 10px;
}

#menu-mobile ul li a:hover{
	background: #efefef;
	border-radius: 5px;
	color:#222;
}

#slick-clear{
	clear: both;
}

/* Menu Mobile */

/* Media Query */

@media screen and (max-width: 768px){
	body{
		overflow-x: hidden;
		width: 100%;
	}

	#banner, #gallery,#ym,#account-bar-left{
		display: none;
	}

	#account-bar{
		width: 100%;
	}

	#logo,#search,#cart,#menu-mobile{
		display: block;
	}

	#header{
		width: 100%;
		position: relative;
	}

	#logo{
		text-align: center;
	}

	#cart{
		margin-top: 20px;
		position: absolute;
		right: 10px;
	}

	#fieldset-inner{
		position: relative;
	}

	#header #search input[type=submit]{
		position: absolute;
		right: 5px;
	}

	#search input[type=text]{
		width: 75%;
	}

	#wrapper{
		margin-top: 80px;
		width: 100%;
	}

	#box-wrapper{

	}

	.box-feature{
		width: 100%;
		margin: 5px;
		padding: 10px;
		border-bottom: 1px solid #efefef;
		/*background: green;*/
	}

	.box-feature img{
		width: 120px;
	}

	#red-one div{
		width: 100%;
	}

	#red-two #footer-link-wrapper{
		width: 100%;
	}

	#footer-link-wrapper > div{
		display: block;
	}

	#copyright{
		/*margin-left: 10px;*/
		/*margin: 0 auto;*/
	}

	/*sementara*/
	#top-menu{
		display: none;
	}

	#login-box,#register-box{
		width: 100%;
	}
}

/* Media Query */