*{
	margin: 0px;
	padding: 0px;
}

body{
	background: #f8f8ee;
}

#top{
	background: #08554f;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	box-shadow: 0px 3px 8px #888888;
}

#account-bar{
	width: 1002px;
	margin:0 auto;
}

#account-bar-left{
	float: left;
}

#account-bar-right{
	float: right;
}

#account-bar-clear{
	clear: both;
}

#cs{
	border-left:1px solid #203f3d;
	border-right:1px solid #203f3d;
	padding:7px 22px;
}

#hi-user,#hi-account,#hi-logout{
	display: inline-block;
	border-right: 1px solid #203f3d;
	padding:7px 22px;
}

#hi-user{
	color:#bfcccc;
}

#hi-account{
	background: url('../img/myaccount.png') no-repeat 5px center;
}

#hi-logout{
	background: url('../img/key.png') no-repeat 5px center;
}

#top a{
	text-decoration: none;
	color: white;
}

#header{
	width: 1002px;
	margin:12px auto;
}

#header #logo, #header #search, #header #cart {
    vertical-align:middle;
}

#logo,#search,#cart{
	display: inline-block;
}

#logo{
	background: url('../img/logo.png') no-repeat left center;
	height: 51px;
	width: 250px;
}

#search fieldset{
	border-radius: 5px;
	border:1px solid #cccccc;
}

#fieldset-outer{
	padding:10px;
	background: url('../img/stripe-bg.png') repeat;
}

#fieldset-inner{
	background: white;
	padding: 5px;
	box-shadow: inset 2px 2px 2px 0px #dddddd;
}

#search input[type=text]{
	border: none;
	width: 270px;
	height: 25px;
	font-size: 15px;
	padding-left: 10px;
	font-family: georgia;
	color:#a1934d;
	font-style: italic;
}

#search input[type=text]:focus{
	outline: 0;
}

#search input[type=submit]{
	color:white;
	border-radius: 3px;
	border: none;
	background: #a1934d;
	padding: 6px 10px;
	font-family: verdana;
}

#cart{
	font-family: 'Titillium Web', sans-serif;
	font-size: 12px;
	color:#a1934d;
	background: url('../img/cart.png') no-repeat left center;
	padding-left: 40px;
	height: 34px;
	margin-left: 80px;
	padding-top: 10px;
}

#ym{
	margin-top: 25px;
	margin-left: 6px;
}

#ym img{
	margin-left: 10px;
}

#top-menu{
	margin-top: 23px;
	background: green;
}

#top-menu ul{
	background: #D0272F;
	width: 100%;
	height: 40px;
	position: relative;
}

#top-menu ul li{
	list-style-type: none;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 35px;
	font-family: 'Titillium Web', sans-serif;
	text-shadow: 0px 1px 1px #333;

	border-right: 1px solid #C50B14;
}

#top-menu ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 13px;
}

.big-menu-one{
	background: #ffffff;
	position: absolute;
	top:40px;
	left: 0px;
	width: 982px;
	padding: 10px;
	display: none;
	box-shadow: 0 0 3px #B9B9B9;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#top-menu ul li:hover .big-menu-one{
	display: block;
}